/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #ffffff; */
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-widht-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-widht-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  background-color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.main-nav {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo-web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo {
  color: var(--title-text-color);
}

/* SITE NAV */
.site-nav {
  display: flex;
  margin-left: 70px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* CONTACTS-NAV */
.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-color);
}

.icon-link {
  display: flex;
  align-items: center;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

/* HERO */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../image/hero/hero.jpg");
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-widht-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* BOTTON */
.button {
  display: inline-block;
  padding: 10px 32px;
  color: var(--primary-widht-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.btn-close:hover {
  outline: none;
  fill: var(--accent-color);
}

.hero-form {
  padding: 40px;
}

.hero-form-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.hero-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.hero-form-field label {
  margin-right: auto;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.hero-form-input {
  width: 448px;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.hero-form-icon {
  position: absolute;
  display: inline-block;
  transform: translate(12px, 29px);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  fill: var(--title-text-color);
}


.hero-form-input:focus ~ .hero-form-icon {
  fill: var(--accent-color);
}


.hero-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.hero-form-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.hero-form-field:nth-child(5) {
  margin-bottom: 0;
}

.hero-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hero-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.hero-consent-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
}

.hero-checkbox:checked + .hero-consent-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../image/svg/check-active.svg);
  background-size: contain;
  background-origin: border-box;
}

.hero-consent {
  font-weight: normal;
  font-size: 14px;
  height: 24px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-consent-contract {
  color: #2196f3;
}

.hero-form-btn {
  width: 200px;
  height: 50px;
  padding: 0;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.hero-form-btn:hover {
  background: #188CE8;
}


.hero-form-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* FEATURES */

.section {
  padding-top: 94px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list .item {
  width: 270px;
  margin-right: 30px;
}

.features-list .item:last-child {
  margin-right: 0;
}

.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
}

.section-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-desc {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* WORK */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

.pic {
  display: flex;
  justify-content: space-between;
}

.pic-element {
  width: 370px;
  margin-right: 30px;
}

.pic .pic-element:last-child {
  margin-right: 0;
}

.pic-element-block {
  position: relative;
}

.pic-element-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.pic-element-title {
  padding-top: 27px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* WORKER */
.container-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.work-team {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-pic {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team-card {
  width: 270px;
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-pic .team-card:last-child {
  margin-right: 0;
}

.worker-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.worker-desc {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.socials {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px 24px;
}

.social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-widht-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: auto;
  fill: currentColor;
}

/* CLIENTS */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.clients-title {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 90px;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients-title:last-child {
  margin-right: 0;
}

.clients-title:hover,
.clients-title:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* FOOTER */
.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  color: var(--primary-widht-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-list {
  margin-top: 20px;
}

.footer-link {
  color: var(--primary-widht-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.list-contacts {
  margin-bottom: 9px;
}

.list-contacts:last-child {
  margin-bottom: 0;
}

.footer-socials {
  margin-left: 69px;
}

.footer-desc {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-title {
  display: inline-flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.footer-socials-list:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin: auto;
  fill: currentColor;
}

.form {
  margin-left: 93px;
}

.form-title {
  margin-top: 14px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-widht-color);
}

.form-block {
  display: flex;
  margin-top: 20px;
}

.form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: auto;
  align-items: center;
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-btn-text {
  padding: 10px 0 10px 29px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-widht-color);
}

.form-btn-icon {
  margin: 0;
  color: #ffffff;
  fill: currentColor;
}

/* PORTFOLIO FILTER */
.portfolio-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn .portfolio-filter {
  margin-right: 8px;
}

.portfolio-btn .portfolio-filter:last-child {
  margin-right: 0;
}

.btn-filter {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--primary-widht-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* CARD */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-element:nth-child(3n) {
  margin-right: 0;
}

.card-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* Альтернатива */
/* .card-element:not(:nth-child(3n)) {
    margin-right: 30px;
} */

/* .card-element:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
} */

.card a {
  text-decoration: none;
}

.overlay-product {
  position: relative;
  overflow: hidden;
}

.overlay-product::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

.overlay-text {
  position: absolute;
  margin: 0;
  padding: 63px 24px;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-widht-color);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.card-link:hover .overlay-text {
  transform: translateY(0);
}

.card-link:focus .overlay-text {
  transform: translateY(0);
}

.card-title {
  margin: 20px 0;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.card-desc {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 0;
  padding-bottom: 20px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.card-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link {
  display: inline-block;
  border: 1px solid #eeeeee;
}

.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
